---
title: Просто цитатник
description: Хранилище отрывков из книг с возможностью импорта с Amazon Kindle без подключения к компьютеру
background_color: "#efefef"
has_background_image: false
---
<p>
    <span itemprop="description">Хранилище отрывков из книг с возможностью импорта с
        Amazon Kindle без подключения к компьютеру.</span>
    Написанный за 2 вечера, &laquo;Просто цитатник&raquo; такой простой, что у его
    страницы даже нет фона. Информация о книгах берется с сайта LiveLib. Для
    владельцев читалок Kindle есть приятная фича – экспорт цитат через Twitter.</p>
<br>
<div class="video-container">
    <iframe
        src="https://www.youtube.com/embed/RtsEdrBm-tU?color=white&modestbranding=1&rel=0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<br>
<p>&laquo;Просто цитатник&raquo; станет вашим помощником в хранении любимых
    цитат, а еще его можно сдать как лабораторную по PHP.</p>
<center>
    <a
        itemprop="relatedLink"
        class="button"
        href="https://pc.radiokot.com.ua"
        target="_blank">{% include emoji.html name = 'globe' actual = '🌐' %} Открыть сайт</a>
    <a
        class="button button-dark"
        href="https://github.com/Radiokot/pcitat"
        target="_blank">{% include emoji.html name = 'github' %} Сдать как лабу</a>
    <br><br>
</center>
<center>
    <img
        class="footer-img"
        alt="{{ page.title }}"
        src="{% link /assets/img/projects/{{ page.slug }}/footer.png %}">
</center>
