---
title: VK LikeChecker
description: Сервис, позволяющий узнать что лайкал человек ВКонтакте. Больше не работает
lang: ru
author: oleg_ru
background_color: "#00a2c9"
is_dead: true
---
<hr />
<p>
    <b>Этот сервис больше не работает</b>
</p>
<p>VK LikeChecker существовал в виде программы для Windows, приложения для
    Android и онлайн-версии. Он пользовался большой популярностью у ревнивых школьников, каковым был
    и я когда его создавал {% include emoji.html name = 'shrug_man' actual = '🤷🏻‍♂️' %}</p>
<hr /> <br />
<p itemprop="description">Хочется знать, что лайкает девушка или друг?
    <span itemprop="operatingSystem">Android</span>
    приложение VK LikeChecker поможет в этом. Приложение находит записи, которые
    лайкал пользователь за указанное время, и составляет из них ленту. Все, что
    нужно – ID страницы и немного терпения.
</p>
<p>В поиск входят:</p>
<ul>
    <li>Стены подписок пользователя</li>
    <li>Стены его друзей</li>
    <li>Фотографии друзей (только для авторизованных пользователей)</li>
    <li>Стены групп, если их список не скрыт</li>
</ul>
<p>Также можно добавить в поиск собственные страницы.</p>
<center>
    <a itemprop="downloadUrl" class="button"
        href="https://play.google.com/store/apps/details?id=com.radiokot.likechecker&amp;referrer=utm_source%3Dwebsite%26anid%3Dadmob"
        target="_blank">{% include emoji.html name = 'gplay' %} Загрузить в Google Play</a>
</center>
<br><br>
<center>
    <img class="footer-img" alt="{{ page.title }}"
        src="{% link /assets/img/projects/{{ page.slug }}/footer.png %}">
</center>
