---
title: Lightning Address to Invoice
description: A small Android helper enabling payments to email-like Bitcoin Lightning addresses from unsupported wallets
author: oleg_en
background_color: "#212121"
---
<p>
    <span itemprop="description">Some popular Bitcoin Lightning wallets, like Muun
        or Blue Wallet, don't support email-like Lightning addresses. This app allows
        paying to such addresses by turning them to convenient invoices.</span>
    For me, it is helpful when zapping and tipping in Nostr.</p>
<div class="video-container">
    <iframe
        src="https://www.youtube.com/embed/FMpSQ-l64Cw?color=white&modestbranding=1&rel=0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<p>To use the app, click on the Lightning address link (like tip or zap in
    Nostr) and select "LN Address to Invoice" app. Follow the instructions and then
    pay the invoice with your favorite wallet.</p>
<p>The app doesn't add any extra fee to your payment.</p>
<center>
    <a
        itemprop="downloadUrl"
        class="button"
        href="https://f-droid.org/packages/ua.com.radiokot.lnaddr2invoice/"
        target="_blank">{% include emoji.html name = 'fdroid' %} Get from F-Droid</a>
    <a
        itemprop="downloadUrl"
        class="button"
        href="https://play.google.com/store/apps/details?id=ua.com.radiokot.lnaddr2invoice"
        target="_blank">{% include emoji.html name = 'gplay' %} Get from Google Play</a>
    <br>
    <a
        class="button"
        href="https://github.com/Radiokot/ln-addr-to-invoice"
        target="_blank">{% include emoji.html name = 'github' %} Project on GitHub</a>
</center>
<br/>
<p>
    If you find this app useful and want to support the project, you can
    <a href="{% link tip.html %}">make a donation</a> with your preferred payment method.
    On-chain Bitcoin and Lightning are accepted, of course.
    I am very grateful to everyone supporting my work
    {% include emoji.html name = 'heart' actual = '♥' %}
</p>
<br/>
<center>
    <img
        class="footer-img"
        alt="{{ page.title }}"
        src="{% link /assets/img/projects/{{ page.slug }}/footer.png %}">
</center>
