---
title: Gallery for PhotoPrism
description: A convenient Android gallery for your PhotoPrism library with plenty of useful features
author: oleg_en
background_color: "#ccc8ff linear-gradient(220deg, #d1befe, #bde5ff)"
has_background_image: false
---
<p>
    The official <a href="https://www.photoprism.app/" target="_blank">
        PhotoPrism open-source photo library</a> web application,
    despite being mobile‑friendly and well optimized, can't be integrated into the phone OS and, no
    matter what, feels like a site in a browser rather than a mobile app. My wife and I started
    using PhotoPrism as a replacement for Google Photos, yet we badly lacked the convenient mobile
    gallery experience for it. Hence, I decided to make a simple native Android app to cover this
    need.
</p>
<p>
    As I published
    <a href="https://www.reddit.com/r/photoprism/comments/120hvs9/android_gallery_and_content_provider_for/"
        target="_blank">the first version</a>,
    it turned out to be liked by many other PhotoPrism users, which inspired me to further improve
    the app.
</p>
<img style="width: 100%;" alt="{{ page.title }}"
    src="{% link /assets/img/projects/{{ page.slug }}/screenshots.png %}"
    srcset="{% link /assets/img/projects/{{ page.slug }}/screenshots@2x.png %} 2x">
<p>
    PhotoPrism Gallery does not support all the official web app functionality, but
    nevertheless has plenty of useful features:
<ul>
    <li>Sending photos and videos to Gmail, Telegram or any other app</li>
    <li>Grouping the content by days and months</li>
    <li>Timeline scroll that lets you quickly jump to a specific month</li>
    <li><a href="https://github.com/Radiokot/photoprism-android-client/wiki/How-to-search-the-library"
            target="_blank">Configurable search</a></li>
    <li><a href="https://github.com/Radiokot/photoprism-android-client/wiki/How-to-use-search-bookmarks"
            target="_blank">Search bookmarks</a>
        that let you save search configurations and apply them later</li>
    <li>Enhanced live photo viewer, which works best with Samsung and Apple shots</li>
    <li>Full-screen slideshow with configurable speed and video autoplay</li>
    <li>Deleting items without archiving them first</li>
    <li>Importing photos and videos trough sharing</li>
    <li>Endless session without the need to re-enter the password</li>
    <li><a href="https://github.com/Radiokot/photoprism-android-client/wiki/Connection-guide"
            target="_blank">Connection to both private and public libraries</a></li>
    <li>Support of <a
            href="https://github.com/Radiokot/photoprism-android-client/wiki/How-to-connect-to-a-library-with-mTLS-(mutual-TLS)-auth%3F">mTLS
            (mutual TLS)</a>,
        <a href="https://github.com/Radiokot/photoprism-android-client/wiki/Connection-guide"
            target="_blank">HTTP basic</a>
        and
        <a href="https://github.com/Radiokot/photoprism-android-client/wiki/Connection-guide#sso"
            target="_blank">SSO</a>
        like Authelia, Cloudflare Access, etc.
    </li>
    <li>TV compatibility to easily browse your library with a remote-control (Search
        is only available with a mouse for now.
        <a href="https://github.com/Radiokot/photoprism-android-client/issues/66#issuecomment-1667426238"
            target="_blank">Install through APK</a>)
    </li>
    <li>{% include emoji.html name = 'star' actual = '⭐' %} Extensions:
        <ul>
            <li>
                <a href="https://github.com/Radiokot/photoprism-android-client/wiki/Memories-extension"
                    target="_blank">Memories</a>
                – get a daily collection of photos and videos from the same day in past years
            </li>
            <li>
                <a href="https://github.com/Radiokot/photoprism-android-client/wiki/Photo-frame-widget-extension"
                    target="_blank">Photo frame widget</a>
                – see random photos from your library on the home screen
            </li>
        </ul>
    </li>
</ul>
<p>
    The gallery is not intended to sync content with the library.
    For this, I recommend <a
        href="https://play.google.com/store/apps/details?id=com.ttxapps.autosync"
        target="_blank">Autosync</a>.
    PhotoPrism Gallery runs on Android 5.0+ and it is confirmed to work with PhotoPrism versions
    from
    <b>September&nbsp;15,&nbsp;2024</b>
    down to <b>October&nbsp;9,&nbsp;2021</b>.
    It is a free open-source app under the <a
        href="https://github.com/Radiokot/photoprism-android-client/tree/main?tab=readme-ov-file#license"
        target="_blank">GPLv3 license</a>.
</p>
<center>
    <a class="button" href="https://github.com/Radiokot/photoprism-android-client"
        target="_blank">{% include emoji.html
        name = 'github' %} Project on GitHub</a>
    <a itemprop="downloadUrl" class="button"
        href="https://f-droid.org/packages/ua.com.radiokot.photoprism/" target="_blank">{% include
        emoji.html name = 'fdroid' %} Get from F-Droid</a>
    <br>
    <a itemprop="downloadUrl" class="button"
        href="https://play.google.com/store/apps/details?id=ua.com.radiokot.photoprism"
        target="_blank">{% include
        emoji.html name = 'gplay' %} Get from Google Play *</a>
    <br>
    <small>* Google Play version has no extension store</small>
</center>
<br>
<p>
    If you enjoy the gallery and want to support the project, you can
    <a href="{% link tip.html %}">make a donation</a> with your preferred payment method.
    I am very grateful to everyone supporting my work
    {% include emoji.html name = 'heart' actual = '♥' %}
</p>
<br>
