{% assign style_path = "/assets/css/style.css" %}
{% assign media_path = "/assets/css/media.css" %}

<link
    href="{% link /assets/img/favicon.png %}"
    rel="shortcut icon"
    type="image/vnd.microsoft.icon">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
    href="{% link /assets/lib/css/bootstrap-grid.min.css %}"
    rel="stylesheet"
    type="text/css">

<link
    href="{{ style_path | relative_url | append: "?v=1" }}"
    data-check-existence="{% link {{style_path}} %}"
    rel="stylesheet"
    type="text/css">

<link
    href="{{ media_path | relative_url | append: "?v=1" }}"
    data-check-existence="{% link {{media_path}} %}"
    rel="stylesheet"
    type="text/css">
